// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.btn.primary {
  
 background-color: rgb(50, 137, 237);
 background-repeat: repeat-x;
 background-image: -moz-linear-gradient(center top , rgb(78, 159, 234), rgb(50, 137, 237)); 
 border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);

 }
